###Imputasi

Imputasi adalah mengganti nilai/data yang hilang

In [5]:
import pandas as pd 
import numpy as np

In [6]:
kolom = {'col1':[2, 9, 19],
         'col2':[3, np.nan, 12],
         'col3':[4, 1, np.nan],
         'col4':[22, 10, 17], 
         'col5':[np.nan, 5, np.nan]}

data = pd.DataFrame(kolom)

In [7]:
data

   col1  col2  col3  col4  col5
0     2   3.0   4.0    22   NaN
1     9   NaN   1.0    10   5.0
2    19  12.0   NaN    17   NaN

In [8]:
data.fillna(data.mean())

   col1  col2  col3  col4  col5
0     2   3.0   4.0    22   5.0
1     9   7.5   1.0    10   5.0
2    19  12.0   2.5    17   5.0

Menambahkan data NaN dengan nilai 10

In [9]:
dataTambah = data.fillna(10)

In [10]:
dataTambah

   col1  col2  col3  col4  col5
0     2   3.0   4.0    22  10.0
1     9  10.0   1.0    10   5.0
2    19  12.0  10.0    17  10.0

###Nilai Suka suka

In [12]:
umur = {'umur' : [29,43,np.nan,25,34,np.nan,50]}

data2 = pd.DataFrame(umur)
data2

   umur
0  29.0
1  43.0
2   NaN
3  25.0
4  34.0
5   NaN
6  50.0

In [13]:
!pip install feature-engine

Requirement already satisfied: feature-engine in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.2.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from feature-engine) (1.8.0)
Requirement already satisfied: statsmodels>=0.11.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from feature-engine) (0.13.2)
Requirement already satisfied: numpy>=1.18.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from feature-engine) (1.22.2)
Requirement already satisfied: scikit-learn>=0.22.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from feature-engine) (1.0.2)
Requirement already satisfied: pandas>=1.0.3 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from feature-engine) (1.4.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=1.0.3->feature-engine) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas>=1.0.3->feature-engine) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.3->feature-engine) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn>=0.22.2->feature-engine) (3.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn>=0.22.2->feature-engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from statsmodels>=0.11.1->feature-engine) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from statsmodels>=0.11.1->feature-engine) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from packaging>=21.3->statsmodels>=0.11.1->feature-engine) (3.0.7)

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [17]:
#import EndTailImputer
from feature_engine.imputation import EndTailImputer
#buat Imputer
imputer = EndTailImputer(imputation_method='gaussian', tail='right')
#fit-kan imputer ke set
imputer.fit(data)
#ubah data
test_data = imputer.transform(data)
#tampilkan data
test_data

   col1       col2      col3  col4  col5
0     2   3.000000  4.000000    22   NaN
1     9  26.591883  1.000000    10   5.0
2    19  12.000000  8.863961    17   NaN

Bagaimana dengan data kategorikanl?
Kita akan gunakan imputasi modus

In [20]:
from sklearn.impute import SimpleImputer
mobil = {
    'merk': ['ford', 'ford', 'honda', 'toyota', 'nissan', np.nan, 'toyota', 'honda', 'toyota', np.nan, np.nan]
}

dataMobil = pd.DataFrame(mobil)

In [35]:
dataMobil

      merk
0     ford
1     ford
2    honda
3   toyota
4   nissan
5      NaN
6   toyota
7    honda
8   toyota
9      NaN
10     NaN

In [36]:
imp = SimpleImputer(strategy='most_frequent')

In [37]:
imp.fit_transform(dataMobil)

array([['ford'],
       ['ford'],
       ['honda'],
       ['toyota'],
       ['nissan'],
       ['toyota'],
       ['toyota'],
       ['honda'],
       ['toyota'],
       ['toyota'],
       ['toyota']], dtype=object)

In [41]:
from feature_engine.imputation import RandomSampleImputer

data = {
    'Jenis Kelamin': ['laki', 'perempuan', np.nan, 'laki', np.nan, np.nan, 'perempuan', np.nan, 'perempuan','laki'],
    'Umur': [21, np.nan, np.nan, 22, 51, 17, 37,41, np.nan,67]
}

data3 = pd.DataFrame(data)
data3

  Jenis Kelamin  Umur
0          laki  21.0
1     perempuan   NaN
2           NaN   NaN
3          laki  22.0
4           NaN  51.0
5           NaN  17.0
6     perempuan  37.0
7           NaN  41.0
8     perempuan   NaN
9          laki  67.0

In [43]:
#buat dulu imputer
imputer = RandomSampleImputer(random_state=29)

#fitkan
imputer.fit(data3)

#ubah data
testing_df = imputer.transform(data3)

In [44]:
testing_df

  Jenis Kelamin  Umur
0          laki  21.0
1     perempuan  41.0
2          laki  17.0
3          laki  22.0
4     perempuan  51.0
5     perempuan  17.0
6     perempuan  37.0
7          laki  41.0
8     perempuan  37.0
9          laki  67.0